@media screen and (min-width: 200px) and (max-width: 640px) {

body {
  background-image: url('https://cdn.pixabay.com/photo/2018/07/01/19/20/water-3510210_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightskyblue;
  font-family: 'Ubuntu', sans-serif;

}

ul>li {
  font-size: 15px;
  font-style: italic;
  border: 1px solid black;
  margin-right: 80%;
}

h1, h2, h3, h4 {
  color: #212F3C;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
  text-decoration: underline black;

}
.date, .email {
  font-style: italic;
}

h5, h6 {
  font-size: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.test {
margin-left: 15px;
}

.test1 {
margin-left: 56px;
}

.main {

}

.head {

}

.infos {
  margin: 10px;
  margin-top: 8px;
  padding: 10px; ;
}

.giteub {
  margin-left: 18px;
}

.htmlcss {
  width: 16%;
  height: 16%;
  position: absolute;
  top: 515px;
  left: 380px;
}
}
